@font-face{
    font-family:Quesha;
    src: url(Fonts/Quesha.ttf);
}
body {
    background-color: beige;
}
div:first-of-type{
    text-align: center;
}
div:nth-of-type(1) p{
    text-align: center;
    font-size: 25px;
    font-family: Quesha;
}
div:nth-of-type(2){
    text-align: center;
}
#button {
    border: none;
    color: #746D6E;
    font-size: 15px;
    padding: 20px, 35px;
}
div:first-of-type h1{
    font-family: Quesha;
    font-size: 100px;
    padding-top: 20px;
}


